#formContainer {
    width: 700px;
    height: 800px;
    min-height: 500px;
    border: 2px solid white;
    padding: 20px 30px;
    border-radius: 10px;
    background-image: url("../resources/background.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

#formOfNewTODO {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

#formOfNewTODO div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#formOfNewTODO label {
    font-size: 20px;
}

#formOfNewTODO input {
    height: 40px;
    text-align: start;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    color: black;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

#formOfNewTODO input:focus {
    outline: 3px solid rgb(144, 144, 226);
}

#formOfNewTODO select {
    height: 40px;
}

#formOfNewTODO button {
    align-self: center;
    padding: 20px 40px;
    background-color: #7dc3ee;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

#formOfNewTODO button:hover {
    cursor: pointer;
    background-color: #4b8ab1;
}