* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(165, 210, 238, 0.8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    background-image: url("../resources/background.png");
    background-position: center;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
}

