* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgba(127, 255, 212, 0.18);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    background-color: yellow;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

