#projectList {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#logo {
    margin-left: -10px;
    padding: 0;
}

#sidebar {
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}