#overlay {
    position: fixed;
    inset: 0; /*whole screen*/
    background: transparent;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;
}

#formContainer {
    width: 700px;
    height: 800px;
    border-radius: 10px;
    background-color: aquamarine;
}

#formProjectTitle {
    font-size: 30px;
}
#projectList {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#logo {
    margin-left: -10px;
    padding: 0;
}

#sidebar {
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}

#toDoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: green;
}

#toDoContainer button {
    width: 150px;
}

#toDoContainer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: burlywood;
}

option {
    color: black;
}