#overlay {
    position: fixed;
    inset: 0; /*whole screen*/
    background: transparent;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;
}



#selectedProjectTitle {
    font-size: 30px;
    font-weight: bold;
}

#formProjectTitle {
    font-size: 30px;
}
#projectList {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#projectList div {
    transition: 0.2s;
}

#projectList div:hover {
    background-color: rgba(1,1,1,0.1);
    cursor: pointer;
}
#logo {
    margin-left: -10px;
    padding: 0;
}

#sidebar {
    width: 250px;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}

#toDoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    height: 100%;
}

#annexMainLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0px 2px;
}

.toDoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0px 10px;
    margin-top: 10px;
    background-color: rgba(92, 164, 208, 0.5);
    border: 0.2px solid white;
    height: 50px;
    transition: 0.2s;
}

.toDoItem:hover {
    background-color: rgba(1,1,1,0.2);
    cursor: pointer;
}

#newToDoButton {
    width: 50px;
    height: 50px;
    background-image: url("../resources/new_to_do_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    transition: 0.2s;
}

#newToDoButton:hover {
    background-color: rgba(1,1,1,0.1);
    cursor: pointer;
}

option {
    color: black;
}